header , nav {
	height: 500px;
}
a {
	text-decoration: none;
color:#ffffff;
}
li{
	font-size: 20px;
	list-style: none;
	padding: 5px 0;
}
a:active {
	color:black
}
a:hover { 
	text-decoration: underline;
	color:rgb(77, 77, 198)
}
h3{padding: 0 auto;
	color: rgba(101, 101, 152, 0.504);
}
.footer__box {
	padding: 0 400px;
	display: flex;
background-color: rgba(57, 145, 156, 0.893);
	justify-content: space-between;
	margin: -8px;
}
.left__box {
	padding: 20px 0 0 0 ;
	font-size: 12px;
}
.center__box {
}
.right__box {		margin: 0 0 0 20px;
}
.underline {
	color: #ffffff;

	font-size: 100%;
	text-decoration: underline;
}