
.img{
	background: url(/HOME/img/11.jpg) fixed;
	height: 800px ;
	/* width: 100%;	border: 10px solid rgb(0, 255, 64); */


}
.img2{
	background:url(/HOME/img/pngwing.com.png) top no-repeat;
	height: 140px;
	width: 100%;
	position: relative;
	top: -80px;
	/* border: 10px solid rgb(255, 145, 0);1 */

}
nav{
	/* margin: -300px 0 0 0; */
}





header , nav {	
	/* border: 10px solid rgb(3, 3, 14); */

	height: 800px;
	width: 100%;
}
a {
	text-decoration: none;
color:#ffffff;
}
li{
	font-size: 20px;
	list-style: none;
	padding: 5px 0;
}
a:active {
	color:black
}
a:hover { 
	text-decoration: underline;
	color:rgb(77, 77, 198)
}
h3{padding: 0 auto;
	color: rgba(101, 101, 152, 0.504);
}
.footer__box {
	/* border: 10px solid #00f; */
	width: 100%;
	position:absolute;
	bottom: -100%;	
	display: flex;
background-color: rgb(4, 138, 193);
	justify-content: space-between;
	margin: -8px;
}
.left__box {
	padding: 20px 0 0 0 ;
	font-size: 12px;
}
.center__box {
}
.right__box {		margin: 0 0 0 20px;
}
.underline {
	color: #ffffff;

	font-size: 100%;
	text-decoration: underline;
}
.img__one {margin: 0 30px 0 0;
	list-style: none; /* Убираем исходные маркеры */
    background: url(/HOME/img/icons8-телефон-25.png) no-repeat 0 0px; /* Параметры фона */
    padding-left: 30px; /* Смещаем текст вправо */ 
}
.img__two {margin: 0 30px 0 0;
	list-style: none; /* Убираем исходные маркеры */
    background: url(/HOME/img/icons8-сообщение-20.png) no-repeat 0 0px; /* Параметры фона */
    padding-left: 30px; /* Смещаем текст вправо */ 
}